.inputs-internal {
  width: 410px;
  padding: 0;
  margin: 83px 0 162px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 0;
}

.inputs-internal__input-label {
  min-width: 100%;
  padding: 0;
  box-sizing: border-box;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template:
  "name input"
  "message message";

  border-bottom: #E8E8E8 1px solid;
}

.inputs-internal__input-label:last-child {
  border: 0;
  padding: 0;

}

.inputs-internal__input {
  width: 122px;
  padding: 0;
  border: 0;
  text-align: right;
  background-color: #fff;
  grid-area: input;
  justify-self: end;
}

.inputs-internal__input_invalid {
  color: rgba(255, 48, 85, 1);
}

.inputs-internal__input:disabled {
  color: #000;
}

.inputs-internal__input:focus {
  outline: none;
  border-bottom: #3456F3 1px solid;
}

.inputs-internal__input-name {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  grid-area: name;
}

.inputs-internal__input-error {
  width: 100%;
  padding: 0;
  margin: 3px 0 0 0;
  min-height: 14px;
  font-size: 10px;
  line-height: 12px;
  color: #000;
  grid-area: message;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inputs-internal__input-error_highlighted {
  color: rgba(255, 48, 85, 1);
}

@media screen and (max-width: 768px) {
  .inputs-internal {
    margin-top: 56px;
    margin-bottom: 153px;
    gap: 18px;
  }
}

@media screen and (max-width: 540px) {
  .inputs-internal {
    margin-top: 0;
    width: 260px;
    margin-bottom: 300px;
  }

  .inputs-internal__input-error {
    min-height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
