.movies-card {
  width: fit-content;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.movies-card__link {
  font-size: 0;
}

.movie__image {
  width: 360px;
  height: 201px;
  border-radius: 6px;
  object-position: center;
  object-fit: cover;
  cursor: pointer;
}

.movie__info {
  padding: 14px 14px 0 14px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.movie__name {
  max-width: 250px;
  height: 32px;
  padding: 0;
  margin: 0;
  align-self: baseline;

  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.movie__duration {
  width: 52px;
  padding: 3px 4px;
  margin: 0;
  box-sizing: border-box;
  align-self: baseline;
  text-overflow: ellipsis;
  overflow: hidden;

  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  text-align: center;
  color: #A0A0A0;

  background: #F9F9F9;
  border-radius: 3px;
}

.overlay {
  font-size: 0;
}

.movies-card__buttons-container {
  position: absolute;
  top: 14px;
  right: 14px;
}

.movies-card__save-button {
  visibility: hidden;
  opacity: 0;
}


.overlay:hover .movies-card__save-button {
  visibility: visible;
  opacity: 1;
}

.movies-card__delete-button {
  visibility: hidden;
  opacity: 0;
}


.overlay:hover .movies-card__delete-button {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 750px) {
  .movies-card__save-button {
    visibility: visible;
    opacity: 1;
  }

  .movies-card__delete-button {
    visibility: visible;
    opacity: 1;
  }
}
