.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 74px;
}

.edit-form-main__title.profile__title {
  align-self: center;
}

.edit-form-main__message.profile__message {
  text-align: center;
  font-size: 11px;
  line-height: 13px;
}

.profile__actions-container{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.profile__button {
  width: 100%;
  margin-top: 3px;
}

.profile__preloader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .05);
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 236px;
    padding-bottom: 269px;
  }

  .profile__actions-container{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

@media screen and (max-width: 650px) {
  .profile {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .profile__actions-container{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  button.profile__button-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px
  }
}

