.button-blue {
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: rgba(52, 86, 243, 1);
  border-radius: 3px;
  border: 0;
}

.button-blue:hover {
  background-color: rgba(52, 86, 243, .8);
}

.button.button-blue:active {
  background-color: rgba(52, 86, 243, .7);
}

.button-blue:disabled {
  color: rgba(194, 194, 194, 1);
  background-color: rgba(248, 248, 248, 1);
  cursor: default;
}

.button-blue:disabled.button.button-blue:active {
  background-color: rgba(248, 248, 248, 1);
}
