.content {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo_place_content {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

.about-project_place_content {
  margin-left: 70px;
  margin-right: 70px;
}

.techs_place_content {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

.about-me_place_content {
  margin-left: 70px;
  margin-right: 70px;
}

.portfolio_place_content {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 107px;
}

@media screen and (max-width: 1124px) {
  .promo_place_content {
    padding-left: 50px;
    padding-right: 50px;
  }

  .about-project_place_content {
    margin-left: 50px;
    margin-right: 50px;
  }

  .techs_place_content {
    padding-left: 50px;
    padding-right: 50px;
  }

  .about-me_place_content {
    margin-left: 50px;
    margin-right: 50px;
  }

  .portfolio_place_content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio_place_content {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 686px) {
  .promo_place_content {
    padding-left: 0;
    padding-right: 0;
  }

  .about-project_place_content {
    margin-left: 18px;
    margin-right: 18px;
  }

  .techs_place_content {
    padding-left: 18px;
    padding-right: 18px;
  }

  .about-me_place_content {
    margin-left: 14px;
    margin-right: 14px;
  }

  .portfolio_place_content {
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 52px;
  }
}
