.saved-movies {
  max-width: 1280px;
  min-width: 320px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr calc(100%*(1140/1280)) 1fr;
  justify-content: center;

  grid-template-areas:
    ". search ."
    ". movies ."
    ". more ." ;
}

.saved-movies__message {
  margin-top: 30px;
  padding: 0 10%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: rgb(28, 94, 168);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  grid-area: movies;
}

.preloader__wheel.preloader__wheel_place_saved-movies {
  top: 20%;
}

.search-form__place_saved-movies {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 10px;
  grid-area: search;
}

.movies-card-list_place_saved-movies {
  width: 100%;
  margin-top: 70px;
  box-sizing: border-box;
  grid-area: movies;
}

@media screen and (max-width: 1279px) {
  .saved-movies {
    grid-template-columns: 1fr calc(100%*(708/768)) 1fr;
  }

  .movies-card-list_place_saved-movies {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .search-form__place_saved-movies {
    margin-top: 80px;
  }

  .saved-movies__message {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 540px) {
  .saved-movies {
    grid-template-columns: 1fr calc(100%*(300/320)) 1fr;
  }

  .movies-card-list_place_saved-movies {
    margin-top: 40px;
  }

  .saved-movies__message {
    font-size: 14px;
    line-height: 20px;
  }
}
