.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_color_blue {
  background-color: #073042;
}

.header__logo {
  font-size: 0;
  margin: 18px 59px 18px 0;
}

.header__button-options {
  display: none;
}

.header__account {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation_place_header {
    visibility: hidden;
  }

  .header__button-options {
    display: block;
  }

  .header__account {
    visibility: hidden;
  }
}

@media screen and (max-width: 320px) {
  .header__button-options {
    width: 40px;
    height: 43px;
  }

  .header__logo {
    margin-right: 0;
  }
}
