.login {
  margin: 0 auto;
  width: 396px;
}

.login__preloader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, .05);
}

@media screen and (max-width: 540px) {
  .login {
    width: 260px;
  }
}
